@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

body{
    font-family: "Inter", sans-serif;
}

.aval{
    font-size: 2rem;
    padding: 2rem 6rem;
    background-color: #555555;
}

.aval-good,
.aval-so,
.aval-bad{
    font-weight: bold;
    font-size: 2rem;
    padding: 1.5rem;
    width: 13rem;
}


.canvasjs-chart-container{
    height: 18em;
}

.canvasjs-chart-credit{
    display: none;
}